:root {
    --color-rgb: 255, 255, 255;
    --background-color-rgb: 40, 40, 40;
    --selection-background-color: #ff9e40;
    --code-block-scrollbar-color: hsla(0, 0%, 100%, .25);
}

html[theme=dark] {
    --color: rgb(var(--color-rgb));
    --background-color: rgb(var(--background-color-rgb));
    color-scheme: dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar {
    background-color: #333;
    color: var(--color);
    padding: 20px;
}

.top-bar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    font-size: 24px;
}

.top-bar nav ul {
    list-style-type: none;
}

.top-bar nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.top-bar nav ul li a {
    text-decoration: none;
    color: var(--color);
    transition: color 0.3s ease;
}

.top-bar nav ul li a:hover {
    color: #ffd700;
}

.changing-text::before {
    content: "Siema!";
    font-size: 36px;
    color: var(--color);
    animation: changeText 5s linear infinite;
}

@keyframes changeText {
    0% { content: "Luckcraft.pl > Najlepszy serwer"; }
    50% { content: "Luckcraft.pl > Szybki serwer"; }
    100% { content: "Luckcraft.pl > Niezawodna administracja"; }
}

.content,
.outside-content {
    padding: 20px;
    color: var(--color);
}

#photo-background {
    background-image: url('background.jpg');
    height: 400px;
    background-size: cover;
    background-position: center;
}

#naglowek,
.opis,
.srodek {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.list-of-admins {
    margin: 20px 0;
}

#block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    background: linear-gradient(135deg, rgb(0, 255, 0), rgb(238, 255, 0) );
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: black;
    transition: all 0.5s ease;
    border: none;
    border-radius: 10px;
}

#block h1 {
    margin-top: 10px;
    margin-left: 50px;
}

#block p {
    margin-top: 10px;
    margin-left: 30px;
}

#block button {
    margin-top: 10px;
    margin-left: 100px;
    padding: 10px 50px;
}

#block:hover {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.left {
    margin-left: 1300px;
    border-radius: 30px;
    padding: 10px 30px;
}

#chat-logo {
        font-family: Arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #333; /* Choose your color */
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        background-color: #ffd700; /* Choose your background color */
        width: 150px; /* Adjust width as needed */
        margin: 0 auto; /* Center horizontally */
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow */
    }

    #chat {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    #messages {
        height: 200px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    
    #messageInput {
        width: calc(100% - 80px);
        padding: 5px;
        margin-right: 5px;
        border-radius: 5px;
    }
    
    #sendButton {
        width: 70px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
    }
    

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: rgb(91, 130, 235);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: rgb(148, 148, 148);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}
